target/
*.bin

GenerateTables.py

accuracy_diff.csv

Hyperparameter_plots

nsagan_train.sh

test

test.ipynb

Train_nsagan.py

TrainOutputToCSV.py
results/benchmarks/DART-EVAL/data/**/*.csv
benchmarks/DART-EVAL/data/**/*.tsv
*.h5
*.fa
*.fasta
*.fai
*.gzi
*.gz


data/
archive/
outputs/